* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, #fafafa #eeeeee)
}
/* ====================== CSS FOR THE CLIENT SIDE ============== */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Roboto:wght@100;300;400&display=swap');
.navigation .navbar {
    height: 70px;
    background-color: #0078D9;
    
}

.navigation .navbar .nav-item {
    color: white;
    font-family: 'Manrope', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/* ============= for the jobs page the content will appear here */
.main-job-content-area .jobs-page {
    margin-top: 40px;
}

.main-job-content-area .jobs-page .jobs-title h1{
    text-align: center;
}

.main-job-content-area .jobs-page .jobs-title p {
    text-align: start;
}


.main-job-content-area .jobs-page .jobs-title h1 {
    font-size: 50px;
    text-transform: capitalize;
    color: #0050C1;
}
.main-job-content-area .jobs-page .jobs-title p {
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-align: center;
}

.available-jobs-title h1 {
    padding-left: 20px;
}

.all-jobs-details  {
    margin-top: 50px;
    margin-bottom: 30px;
}
.all-jobs-details .card .card-title h1 {
    text-align: center;
    font-size: 24px;
    text-transform: capitalize;
    color: #0078D9;
    padding-top: 20px;
    font-weight: bold;
}

/* ============== the media query to fix the cards when the website is pushed in mobile */
@media only screen and (max-width: 768px) {
    .all-jobs-details .card {
        margin-top: 20px;
    }
}

/* ============= apply job page ============ */
.job-application-page {
    margin-top: 60px;
}

.application-details-page h1 {
    text-align: center;
    padding-top: 30px;
    text-transform: capitalize;
    color: #0050C1;
}

/* ============ the job application page will be here ======== */
.job-application-page {
    background: linear-gradient(to left, #ECEEFF, #ECEEFF);
    margin-top: 30px;
    border-radius: 8px;
    margin-bottom: 50px;
}

.job-application-title h1 {
    padding-top: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #0078D9;
    font-weight: bolder;
}

.job-application-form {
    padding-top: 50px;
}
.job-application-form label {
    padding-left: 10px;
    text-transform: capitalize;
    font-family: 'Manrope', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.job-application-page .error-message {
    color: red;
    font-weight: bolder;
}

.job-application-page .job-to-apply h1 {
    text-align: center;
    text-transform: capitalize;
    padding-top: 20px;
    color: #0078D9;
    font-weight: 500;
}

.full-job-details-page {
    background: linear-gradient(to left, #ECEEFF, #ECEEFF);
    margin-top: 30px;
    border-radius: 8px;
    margin-bottom: 20px;
    height: auto;
}

.full-job-details-page .full-job-details-title h1 {
    padding-top: 30px;
    padding-left: 30px;
    font-size: 24px;
    font-family: 'Manrope', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    color: #0078D9;
    font-weight: bolder;
} 

.job-details-panel {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.job-detail {
    margin-left: 30px;
    margin-top: 20px;
}
.job-detail p {
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

.job-detail-2 {
    margin-left: 80px;
    margin-top: 20px;
}

.job-detail-2 p {
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
    .job-detail-2 {
        margin-left: 10px;
        margin-top: 20px;
    }
    .job-detail {
        margin-left: 10px;
        margin-top: 20px;
    }
}